In [10]:
import pandas as pd
import numpy as np
from collections import defaultdict
shopBehavdf = pd.read_csv("/home/szh-921/workSpace/data/train-ccf_first_round_user_shop_behavior.csv")
mallPosdf = pd.read_csv("/home/szh-921/workSpace/data/mall_position.csv")
shopInfodf = pd.read_csv("/home/szh-921/workSpace/data/training-ccf_first_round_shop_info.csv")
shopInfodf.head(5)
shopBehavdf.shape

(1138015, 6)

In [2]:
mallPosdf.head(5)

    latitude   longitude mall_id
0  23.158513  113.564008   m_909
1  23.305834  114.331406  m_3313
2  23.337437  113.782029  m_7374
3  23.559286  114.436453  m_4459
4  23.832686  113.789846  m_1831

In [3]:
shopInfodf.head(5)

  shop_id category_id   longitude   latitude  price mall_id
0    s_26         c_4  122.346736  31.833507     57   m_690
1   s_133         c_6  121.134362  31.197511     58  m_6587
2   s_251        c_38  121.000505  30.907667     34  m_5892
3   s_372        c_30  119.864982  26.659876     44   m_625
4   s_456        c_26  122.594243  31.581499     44  m_3839

In [4]:
shopInfodf.tail(5)

        shop_id category_id   longitude   latitude  price mall_id
8472  s_4062902        c_26  121.192550  31.799296     44  m_7601
8473  s_4063542        c_12  120.610590  34.057430     63  m_4515
8474  s_4064675        c_30  113.781881  23.338904     42  m_7374
8475  s_4067339        c_30  121.955369  39.587141     43  m_4543
8476  s_4070843        c_82  113.184466  38.378162     64  m_5810

In [5]:
shopToMallser = pd.Series(shopInfodf['mall_id'].values, index=shopInfodf['shop_id'])
shopToMallser.index.name = None # 把index对象的name取消掉
shopToMallser.head(5)

s_26      m_690
s_133    m_6587
s_251    m_5892
s_372     m_625
s_456    m_3839
dtype: object

In [30]:
shopIdSer = shopBehavdf['shop_id'] 
print(shopIdSer.head(5))
print(shopIdSer.tail(5))
groupedShopBehav = shopBehavdf.groupby(by=lambda idx:shopToMallser[shopIdSer[idx]])

0    s_2871718
1    s_2871718
2     s_181637
3     s_609470
4    s_3816766
Name: shop_id, dtype: object
1138010     s_532491
1138011     s_765697
1138012    s_3683594
1138013     s_251652
1138014     s_251652
Name: shop_id, dtype: object

In [31]:
for mall, shopBehavdf0 in groupedShopBehav:
    shopBehavdf0.to_csv("/home/szh-921/workSpace/data/shop_data_by_mall/" + str(mall) + "_shopBehav.csv", index=False)

In [32]:
dataCnt = 0
for mall, shopBehavdf0 in groupedShopBehav:
   dataCnt += shopBehavdf0.shape[0]

In [33]:
import os
basedir = "/home/szh-921/workSpace/data/shop_data_by_mall/"
filenames = os.listdir(basedir)
for file in filenames:
    onemallDf = pd.read_csv(basedir+file)
    print(file, onemallDf.shape[0]) #5810 号商场最多

m_1085_shopBehav.csv 3611
m_1831_shopBehav.csv 9904
m_968_shopBehav.csv 12301
m_2715_shopBehav.csv 5348
m_4094_shopBehav.csv 25372
m_7601_shopBehav.csv 6247
m_1375_shopBehav.csv 11858
m_6167_shopBehav.csv 5358
m_8093_shopBehav.csv 9256
m_4759_shopBehav.csv 6289
m_4548_shopBehav.csv 5281
m_2467_shopBehav.csv 21430
m_4406_shopBehav.csv 8398
m_3501_shopBehav.csv 5629
m_5892_shopBehav.csv 17933
m_690_shopBehav.csv 26816
m_5810_shopBehav.csv 3749
m_1790_shopBehav.csv 14973
m_4495_shopBehav.csv 8726
m_3528_shopBehav.csv 7658
m_3313_shopBehav.csv 3754
m_3112_shopBehav.csv 9779
m_5767_shopBehav.csv 7853
m_626_shopBehav.csv 9512
m_4459_shopBehav.csv 5876
m_1293_shopBehav.csv 22280
m_3425_shopBehav.csv 6785
m_3517_shopBehav.csv 11111
m_2123_shopBehav.csv 4320
m_4515_shopBehav.csv 6780
m_4572_shopBehav.csv 9371
m_7168_shopBehav.csv 26355
m_5076_shopBehav.csv 21373
m_3832_shopBehav.csv 14001
m_2907_shopBehav.csv 12691
m_5825_shopBehav.csv 16406
m_5529_shopBehav.csv 5147
m_1920_shopBehav.csv 15301
m_8344_shopBehav.csv 19817
m_2578_shopBehav.csv 10003
m_7800_shopBehav.csv 19732
m_2224_shopBehav.csv 15493
m_7374_shopBehav.csv 11799
m_3739_shopBehav.csv 15198
m_4187_shopBehav.csv 9520
m_979_shopBehav.csv 10943
m_6803_shopBehav.csv 2057
m_1021_shopBehav.csv 4924
m_7994_shopBehav.csv 5937
m_8379_shopBehav.csv 5336
m_2333_shopBehav.csv 8302
m_9068_shopBehav.csv 14375
m_1950_shopBehav.csv 13032
m_4011_shopBehav.csv 6492
m_4923_shopBehav.csv 5770
m_2058_shopBehav.csv 3280
m_4121_shopBehav.csv 3849
m_3445_shopBehav.csv 6132
m_622_shopBehav.csv 10604
m_615_shopBehav.csv 11491
m_625_shopBehav.csv 11989
m_4033_shopBehav.csv 9605
m_1377_shopBehav.csv 24462
m_3839_shopBehav.csv 22673
m_909_shopBehav.csv 16736
m_4168_shopBehav.csv 6162
m_4543_shopBehav.csv 10011
m_2009_shopBehav.csv 10191
m_623_shopBehav.csv 6232
m_3054_shopBehav.csv 11527
m_3871_shopBehav.csv 16408
m_2270_shopBehav.csv 9927
m_5154_shopBehav.csv 7588
m_6587_shopBehav.csv 12477
m_1263_shopBehav.csv 9303
m_3005_shopBehav.csv 21919
m_6337_shopBehav.csv 25784
m_7523_shopBehav.csv 16483
m_3916_shopBehav.csv 6775
m_4079_shopBehav.csv 20619
m_2878_shopBehav.csv 10325
m_1089_shopBehav.csv 5874
m_822_shopBehav.csv 13426
m_7973_shopBehav.csv 8729
m_5352_shopBehav.csv 10378
m_1175_shopBehav.csv 29894
m_2182_shopBehav.csv 12275
m_1409_shopBehav.csv 16692
m_4422_shopBehav.csv 20741
m_3019_shopBehav.csv 7645
m_2267_shopBehav.csv 12360
m_1621_shopBehav.csv 10482
m_9054_shopBehav.csv 8197
m_5085_shopBehav.csv 17680
m_2415_shopBehav.csv 11663
m_4828_shopBehav.csv 16361
m_4341_shopBehav.csv 9504