In [5]:
import pandas as pd
import numpy as np
from sklearn import  preprocessing
import xgboost as xgb
import lightgbm as lgb    
path='/home/szh-921/workSpace/data/'
df=pd.read_csv(path+'train-ccf_first_round_user_shop_behavior.csv')
shop=pd.read_csv(path+'training-ccf_first_round_shop_info.csv')
test=pd.read_csv(path+'AB-testSet-evaluation_public.csv')
df.head(2)

,user_id,shop_id,time_stamp,longitude,latitude,wifi_infos
0,u_376,s_2871718,2017-08-06 21:20,122.308291,32.08804,b_6396480|-67|false;b_41124514|-86|false;b_287...
1,u_376,s_2871718,2017-08-06 21:20,122.308162,32.08797,b_6396480|-67|false;b_56328155|-73|false;b_411...

In [7]:
shop.head(2)

  shop_id category_id   longitude   latitude  price mall_id
0    s_26         c_4  122.346736  31.833507     57   m_690
1   s_133         c_6  121.134362  31.197511     58  m_6587

In [8]:
test.head(2)

,row_id,user_id,mall_id,time_stamp,longitude,latitude,wifi_infos
0,118742,u_30097142,m_3916,2017-09-05 13:00,122.141011,39.818847,b_34366982|-82|false;b_37756289|-53|false;b_41...
1,118743,u_30097803,m_5085,2017-09-06 13:10,118.191907,32.855858,b_36722251|-81|false;b_10537579|-75|false;b_43...

In [9]:
df=pd.merge(df,shop[['shop_id','mall_id']],how='left',on='shop_id') # 增加mall_id
df.head(2)

,user_id,shop_id,time_stamp,longitude,latitude,wifi_infos,mall_id
0,u_376,s_2871718,2017-08-06 21:20,122.308291,32.08804,b_6396480|-67|false;b_41124514|-86|false;b_287...,m_1409
1,u_376,s_2871718,2017-08-06 21:20,122.308162,32.08797,b_6396480|-67|false;b_56328155|-73|false;b_411...,m_1409

In [10]:
df['time_stamp']=pd.to_datetime(df['time_stamp']) # 将时间转换为时间戳 
df.head(2)

,user_id,shop_id,time_stamp,longitude,latitude,wifi_infos,mall_id
0,u_376,s_2871718,2017-08-06 21:20:00,122.308291,32.08804,b_6396480|-67|false;b_41124514|-86|false;b_287...,m_1409
1,u_376,s_2871718,2017-08-06 21:20:00,122.308162,32.08797,b_6396480|-67|false;b_56328155|-73|false;b_411...,m_1409

In [13]:
train = pd.concat([df,test])
train.head(2)

,latitude,longitude,mall_id,row_id,shop_id,time_stamp,user_id,wifi_infos
0,32.08804,122.308291,m_1409,NaN,s_2871718,2017-08-06 21:20:00,u_376,b_6396480|-67|false;b_41124514|-86|false;b_287...
1,32.08797,122.308162,m_1409,NaN,s_2871718,2017-08-06 21:20:00,u_376,b_6396480|-67|false;b_56328155|-73|false;b_411...

In [14]:
train.tail(2)

,latitude,longitude,mall_id,row_id,shop_id,time_stamp,user_id,wifi_infos
483929,40.497446,116.941283,m_4828,483930.0,NaN,2017-09-11 12:10,u_63920157,b_45089046|-47|true;b_49160464|-65|false;b_397...
483930,32.753948,119.874121,m_7973,483931.0,NaN,2017-09-10 18:10,u_63920806,b_25163301|-69|false;b_39872252|-57|false;b_25...

In [ ]:
mall_list=list(set(list(shop.mall_id))) # 获取mall_id的集合
result=pd.DataFrame()

In [ ]:
for mall in mall_list:
    train1=train[train.mall_id==mall].reset_index(drop=True) #筛选出 属于的某一个商场的训练集 
    #一下的都是针对一个商场的
    l=[]
    wifi_dict = {}
    for index, row in train1.iterrows():
        wifi_list = [wifi.split('|') for wifi in row['wifi_infos'].split(';')]
        for i in wifi_list: #一个用户的wifi
            row[i[0]]=int(i[1]) #给一个Series 赋一个属性 这个属性的值是wifi的强度 i[0] 是wifi的bssid
            if i[0] not in wifi_dict: #如果一个wifi在一个用户的记录中出现 给对应的wifi字典中加一
                wifi_dict[i[0]]=1
            else:
                wifi_dict[i[0]]+=1
        l.append(row) # 将修改后的用户记录放在 l中
    delate_wifi=[] # 设置一个无用的WiFi列表
    for i in wifi_dict:
        if wifi_dict[i] < 20: # 以20为阈值 小于这个数的就准备丢掉
            delate_wifi.append(i) 
    m=[]
    for row in l:
        new={}
        for n in row.keys():
            if n not in delate_wifi:
                new[n]=row[n] # 过滤要删除的wifi
        m.append(new)
    train1=pd.DataFrame(m) # 将过滤了无价值wifi的 信息重新生成 训练集  wifiid 被当做属性 相当于是非数值属性的独热编码编码 
    df_train=train1[train1.shop_id.notnull()] # 将合并过滤掉wifi的整体数据 通过shopid是否存在来区分为 测试机和训练集
    df_test=train1[train1.shop_id.isnull()]
    
    
    lbl = preprocessing.LabelEncoder()
    lbl.fit(list(df_train['shop_id'].values)) 
    df_train['label'] = lbl.transform(list(df_train['shop_id'].values)) #大概是吧shop_id变成了0~n-1的整数 吧标签数字化 
    #估计是为了提升效率把 毕竟整数比较比字符串快 在训练过程中 会反复的大量的进行标签的比较
    num_class=df_train['label'].max()+1  # 所有的shop_id 数量为n  
    params = {# xgboost 参数
            'objective': 'multi:softmax', # 损失函数 多分类
            'num_class':num_class, # 多分类的另一个参数 需要制定最终1标签中有多少类
            'eta': 0.1, # 学习率 
            'max_depth': 9, # 每颗树的最大深度 越大越容易过拟合
            'eval_metric': 'merror', # 度量分类效果的参数
            'seed': 0, # 随机数种子 用于产生可复现成果
            'missing': -999, # 填充NaN的值
            'silent' : 1 #运行信息输出
            }
    
    feature=[x for x in train1.columns if x not in ['user_id','label','shop_id','time_stamp','mall_id','wifi_infos']] 
    #freature是把除了这上面的几个例子的特征职位的其他特征做了 训练用的特征 下面是xgboost的训练过程   
    xgbtrain = xgb.DMatrix(df_train[feature], df_train['label']) # 吧[特征,标注]放在一起做 作为训练集
    xgbtest = xgb.DMatrix(df_test[feature])
    watchlist = [ (xgbtrain,'train'), (xgbtrain, 'test') ]
    num_rounds = 60
    model = xgb.train(params, xgbtrain, num_rounds, watchlist, early_stopping_rounds=15)
    
    df_test['label'] = model.predict(xgbtest)
    df_test['shop_id'] = df_test['label'].apply(lambda x:lbl.inverse_transform(int(x))) # 把数字化的标签在反向转化为 shop_id 使用apply函数对每一项进行调用
    r = df_test[['row_id','shop_id']]
    result = pd.concat([result,r])
    result['row_id'] = result['row_id'].astype('int') # row_id 在过程中会被转化为float 但是最后要转化为 int
    result.to_csv(path+'sub.csv',index=False)