In [15]:
from collections import defaultdict
import pandas as pd
import numpy as np
d = defaultdict(list)
l1 = [1, 2, 3]
l2 = ['a', 'b', 'c']
df0 = pd.DataFrame({'c1': l1, 'c2':l2})
df0.to_csv("/home/szh-921/workSpace/df0.csv", index=False)

In [16]:
ser = pd.Series([1, 2, 3, 4, 4, 5, 6, 5, 7, 8, 7, 9])
ser.unique() #生成了set

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [17]:
df0 = pd.DataFrame(np.arange(64).reshape(8, 8), columns=list('ABCDEFGH'))
df0

    A   B   C   D   E   F   G   H
0   0   1   2   3   4   5   6   7
1   8   9  10  11  12  13  14  15
2  16  17  18  19  20  21  22  23
3  24  25  26  27  28  29  30  31
4  32  33  34  35  36  37  38  39
5  40  41  42  43  44  45  46  47
6  48  49  50  51  52  53  54  55
7  56  57  58  59  60  61  62  63

In [18]:
df0.ix[1:3, "A":"C"]

    A   B   C
1   8   9  10
2  16  17  18
3  24  25  26

In [19]:
a = df0[1:3]
a

    A   B   C   D   E   F   G   H
1   8   9  10  11  12  13  14  15
2  16  17  18  19  20  21  22  23

In [20]:
b = df0[4:6]
b

    A   B   C   D   E   F   G   H
4  32  33  34  35  36  37  38  39
5  40  41  42  43  44  45  46  47

In [22]:
c = pd.concat([a, b])
c

    A   B   C   D   E   F   G   H
1   8   9  10  11  12  13  14  15
2  16  17  18  19  20  21  22  23
4  32  33  34  35  36  37  38  39
5  40  41  42  43  44  45  46  47

In [36]:
c.index = np.arange(4)
c

    A   B   C   D   E   F   G   H
0   8   9  10  11  12  13  14  15
1  16  17  18  19  20  21  22  23
2  32  33  34  35  36  37  38  39
3  40  41  42  43  44  45  46  47

In [39]:
df0.ix[3, 5] = 1000

In [40]:
df0

    A   B   C   D   E     F   G   H
0   0   1   2   3   4     5   6   7
1   8   9  10  11  12    13  14  15
2  16  17  18  19  20    21  22  23
3  24  25  26  27  28  1000  30  31
4  32  33  34  35  36    37  38  39
5  40  41  42  43  44    45  46  47
6  48  49  50  51  52    53  54  55
7  56  57  58  59  60    61  62  63

In [52]:
df_left = pd.DataFrame(np.arange(6).reshape(3, 2), columns=list("aB"))
df_right = pd.DataFrame(np.arange(12).reshape(3, 4), columns=list("abcd"))

In [53]:
df_left

   a  B
0  0  1
1  2  3
2  4  5

In [54]:
df_right

   a  b   c   d
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [55]:
innerjoin = pd.merge(df_left, df_right, how='inner', on='a')
innerjoin

   a  B  b  c  d
0  0  1  1  2  3
1  4  5  5  6  7

In [57]:
outerjoin = pd.merge(df_left, df_right, how='outer', on='a')
outerjoin

   a    B    b     c     d
0  0  1.0  1.0   2.0   3.0
1  2  3.0  NaN   NaN   NaN
2  4  5.0  5.0   6.0   7.0
3  8  NaN  9.0  10.0  11.0

In [59]:
leftjoin = pd.merge(df_left, df_right, how='left', on='a')
leftjoin

   a  B    b    c    d
0  0  1  1.0  2.0  3.0
1  2  3  NaN  NaN  NaN
2  4  5  5.0  6.0  7.0

In [60]:
rightjoin = pd.merge(df_left, df_right, how='right', on='a')
rightjoin

   a    B  b   c   d
0  0  1.0  1   2   3
1  4  5.0  5   6   7
2  8  NaN  9  10  11