In [10]:
import pandas as pd
import numpy as np
from collections import defaultdict
l1 = [1, 1, 1, 1]
l2 = [2, 2, 2, 2]
l3 = [3, 3, 3, 3]

d1 = {"c1":l1, "c2":l2, "c3":l3}

df = pd.DataFrame(d1, index=['a', 'b', 'c', 'd'])
df

   c1  c2  c3
a   1   2   3
b   1   2   3
c   1   2   3
d   1   2   3

In [11]:
 df = pd.DataFrame([l1, l2, l3]) # 是个矩阵的形式
 df

   0  1  2  3
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3

In [12]:
df = pd.DataFrame(np.arange(15).reshape(5, 3))
df

    0   1   2
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14