In [2]:
import pandas as pd
import numpy as np
from collections import defaultdict
l1 = [1, 1, 1, 1]
l2 = [2, 2, 2, 2]
l3 = [3, 3, 3, 3]

d1 = {"c1":l1, "c2":l2, "c3":l3}

df = pd.DataFrame(d1, index=['a', 'b', 'c', 'd'])
df

   c1  c2  c3
a   1   2   3
b   1   2   3
c   1   2   3
d   1   2   3

In [3]:
df.values

array([[1, 2, 3],
       [1, 2, 3],
       [1, 2, 3],
       [1, 2, 3]])

In [4]:
df['c1']

a    1
b    1
c    1
d    1
Name: c1, dtype: int64

In [5]:
df['c1'].name # series 有一个name属性

'c1'

In [6]:
for j in df:
    #print(j)
    print(df.loc['a',j]) # loc 是根据标签来定位元素的方法 方括号内 逗号前面是行后面是列

1
2
3

In [7]:
for r in df.index:
    #print(type(df.loc[r,:]))  # 这里选取了一行 这一行自动被转化为 Series 所以一维的会被转化为Series
    #print(df.loc[r,:].name)   # Series的name 就是行号
    #print(df.loc[r,:].index)  # 列号是原来DataFrame的 column标记
    print(df.loc[r, :], "type=", type(df.loc[r, :]))

c1    1
c2    2
c3    3
Name: a, dtype: int64 type= <class 'pandas.core.series.Series'>
c1    1
c2    2
c3    3
Name: b, dtype: int64 type= <class 'pandas.core.series.Series'>
c1    1
c2    2
c3    3
Name: c, dtype: int64 type= <class 'pandas.core.series.Series'>
c1    1
c2    2
c3    3
Name: d, dtype: int64 type= <class 'pandas.core.series.Series'>

In [8]:
for row in df.iterrows():
    print(row, type(row), type(row[1]))

('a', c1    1
c2    2
c3    3
Name: a, dtype: int64) <class 'tuple'> <class 'pandas.core.series.Series'>
('b', c1    1
c2    2
c3    3
Name: b, dtype: int64) <class 'tuple'> <class 'pandas.core.series.Series'>
('c', c1    1
c2    2
c3    3
Name: c, dtype: int64) <class 'tuple'> <class 'pandas.core.series.Series'>
('d', c1    1
c2    2
c3    3
Name: d, dtype: int64) <class 'tuple'> <class 'pandas.core.series.Series'>

In [9]:
df = pd.DataFrame([df['c1'], df['c2'], df['c3']])  # series 被当做列表来看待 
df #根据每个series的name属性以及 index属性来合并成新的 DataFrame

    a  b  c  d
c1  1  1  1  1
c2  2  2  2  2
c3  3  3  3  3

In [10]:
 df = pd.DataFrame([l1, l2, l3]) # 是个矩阵的形式
 df

   0  1  2  3
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3

In [11]:
df = pd.DataFrame(np.arange(15).reshape(5, 3))
df

    0   1   2
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14

In [12]:
a = pd.Series([1, 2, 3])
b = pd.Series([1, 1, 3])
type(a == b)
(a==b).sum()

2

In [13]:
testDataSet = pd.read_csv("/home/szh-921/workSpace/data/submmit_result.csv")
(testDataSet['shop_id'] == pd.Series(['Nan'] * testDataSet.shape[0])).sum() / testDataSet.shape[0]

0.0067220326864780309

In [14]:
s0 = pd.Series({'a':0, 'b':1, 'c':2})
s0

a    0
b    1
c    2
dtype: int64

In [15]:
s0[['a', 'c']]

a    0
c    2
dtype: int64