In [5]:
import pandas as pd
import numpy as np
s0 = pd.Series([1, 2, 3, 4, 5], index=list("abcde"))
s1 = pd.Series([1, 2, 3, 4, 5], index=list("abcde"))
s

a       1
b       2
c       3
d       4
e       5
k    9999
dtype: int64

#### 像下面这样能够直接在series中添加key的值 即使原来也没有这个值 series本质是是一个有序字典

In [6]:
s0['k'] = 9999
s0['x']= 98
s1['u'] = 100
s1['y'] = 2

### 将多个拥有部分相同值的series 合并为一个 dataFrame  如果没有的key 就 加NaN

In [9]:
ss = pd.DataFrame([s0, s1])
ss

     a    b    c    d    e       k      u     x    y
0  1.0  2.0  3.0  4.0  5.0  9999.0    NaN  98.0  NaN
1  1.0  2.0  3.0  4.0  5.0     NaN  100.0   NaN  2.0